In [42]:
import pandas as pd

In [43]:
df = pd.read_csv("raw_data/PubMed.csv")

In [44]:
unique_ids = df['abstract_id'].unique()

concatenated_ids = ', '.join(map(str, unique_ids))

In [45]:
num_unique_ids = len(unique_ids)

print("Number of unique IDs:", num_unique_ids)

Number of unique IDs: 190654

In [46]:
df = df.sort_values(by=['abstract_id', 'line_number'])

In [47]:

df['abstract_text'] = df['abstract_text'].astype(str)

concatenated_abstract = df.groupby('abstract_id')['abstract_text'].apply(' '.join).reset_index()

In [48]:
concatenated_target = df.groupby('abstract_id')['target'].apply(' '.join).reset_index()

In [49]:
concatenated_df = pd.merge(concatenated_abstract, concatenated_target, on='abstract_id')

In [50]:
concatenated_df.to_csv('concatenated_abstracts.csv', index=False)

abstract_id
1279170     0
1281030     0
1282364     0
1283117     0
1283730     0
           ..
26521577    0
26521581    0
26521582    0
26521589    0
26529159    0
Name: abstract_text, Length: 190654, dtype: int64

In [51]:
df = df.merge(concatenated_abstract, on='abstract_id', how='left', suffixes=('', '_concatenated'))
df.head()

,abstract_id,line_id,abstract_text,line_number,total_lines,target,abstract_text_concatenated
0,1279170,1279170_0_12,We conducted this study to assess the clinical...,0,12,OBJECTIVE,We conducted this study to assess the clinical...
1,1279170,1279170_1_12,Thirty-five patients with Raynaud 's phenomeno...,1,12,METHODS,We conducted this study to assess the clinical...
2,1279170,1279170_2_12,"Following a 2 week washout , subjects received...",2,12,METHODS,We conducted this study to assess the clinical...
3,1279170,1279170_3_12,"Clinical assessments , status of digital ulcer...",3,12,METHODS,We conducted this study to assess the clinical...
4,1279170,1279170_4_12,Complete healing of all cutaneous lesions ( ul...,4,12,RESULTS,We conducted this study to assess the clinical...

In [53]:
df = df.drop(columns='abstract_text')

KeyError: "['abstract_text'] not found in axis"

In [54]:
df = df.rename(columns={'abstract_text_concatenated': 'abstract_text'})

In [55]:
df.head()

,abstract_id,line_id,line_number,total_lines,target,abstract_text
0,1279170,1279170_0_12,0,12,OBJECTIVE,We conducted this study to assess the clinical...
1,1279170,1279170_1_12,1,12,METHODS,We conducted this study to assess the clinical...
2,1279170,1279170_2_12,2,12,METHODS,We conducted this study to assess the clinical...
3,1279170,1279170_3_12,3,12,METHODS,We conducted this study to assess the clinical...
4,1279170,1279170_4_12,4,12,RESULTS,We conducted this study to assess the clinical...

In [56]:
df['abstract_text'][1]

"We conducted this study to assess the clinical usefulness and physiologic effects of intravenous iloprost in patients with Raynaud 's phenomenon secondary to systemic sclerosis . Thirty-five patients with Raynaud 's phenomenon secondary to systemic sclerosis , including 11 with digital ischemic ulcerations , were enrolled in a double blind placebo controlled parallel study in 2 centers . Following a 2 week washout , subjects received intravenous iloprost ( 0.5-2 .0 ng/kg/min ) or saline by continuous infusion for 6 h on 5 consecutive days . Clinical assessments , status of digital ulcers , measures of in vivo platelet activation and detailed studies of peripheral vascular response to cold challenge , were performed at entry , at 5 days of therapy and at biweekly intervals for 10 weeks . Complete healing of all cutaneous lesions ( ulcers , fissures , and paronychia ) was observed 10 weeks after treatment in 6 of 7 patients receiving iloprost versus none of 4 receiving placebo ( p = 0.015 ) . Ischemic digital tip ulcers completely healed in all 4 patients with ulcers in the iloprost group , but none in the placebo group ( p = 0.029 ) . Patient diaries of frequency , duration and symptoms of Raynaud 's phenomenon showed improvement in both groups . Critical ischemic temperature ( finger temperature during controlled cold challenge at which Raynaud 's or loss of detectable digital blood flow occurred ) progressively decreased in the iloprost group from 21.3 + / - 7.3 degrees C at baseline to a minimum of 16.1 + / - 3.2 degrees C at 8 weeks after treatment ( p = 0.076 ) , whereas no consistent changes were observed in the placebo group . Treatment was associated with improvement in the rate of skin temperature recovery following cold challenge . No changes were noted in ambient digital skin temperature , total digital blood flow , finger systolic pressure or in measures of in vivo platelet activation . One subject dropped out with chest pain , but adverse effects of nausea , vomiting , headache and jaw pain were otherwise limited to the 5 days of drug infusion . Iloprost appears useful for the treatment of digital ulcers in systemic sclerosis and is associated with evidence of prolonged physiologic improvement although the mechanism of this effect remains unclear ."

Index(['abstract_id', 'line_id', 'line_number', 'total_lines', 'target',
       'abstract_text_x', 'abstract_text_x', 'abstract_text_y'],
      dtype='object')

,abstract_id,line_id,line_number,total_lines,target,abstract_text
0,1279170,1279170_0_12,0,12,OBJECTIVE,We conducted this study to assess the clinical...
1,1279170,1279170_1_12,1,12,METHODS,We conducted this study to assess the clinical...
2,1279170,1279170_2_12,2,12,METHODS,We conducted this study to assess the clinical...
3,1279170,1279170_3_12,3,12,METHODS,We conducted this study to assess the clinical...
4,1279170,1279170_4_12,4,12,RESULTS,We conducted this study to assess the clinical...

In [58]:
data = df[['abstract_id', 'abstract_text']].drop_duplicates()

In [68]:
data.iloc[23].abstract_text

'It is often suggested that psychological and social support and health education for women at high risk for delivering a low-birth-weight infant can improve the outcomes of pregnancy , but the evidence is inconclusive . We undertook this prospective trial to evaluate a program of home visits designed to provide psychosocial support during pregnancy . At four centers in Latin America , 2235 women at higher-than-average risk for delivering a low-birth-weight infant were recruited before the 20th week of pregnancy . The women were randomly assigned either to an intervention group ( n = 1115 ) that received four to six home visits from a nurse or social worker in addition to routine prenatal care or to a control group ( n = 1120 ) that received only routine prenatal care ( with a mean of eight prenatal visits ) . The principal measures of outcome were low birth weight ( < 2500 g ) , preterm delivery ( < 37 weeks of gestation ) , and specified categories of maternal and neonatal morbidity . The women who received the home visits as well as routine prenatal care had outcomes that differed little from those of the women who received only routine care . The risks of low birth weight ( odds ratio for the intervention group as compared with the control group , 0.93 ; 95 percent confidence interval , 0.68 to 1.28 ) , preterm delivery ( odds ratio , 0.88 ; 95 percent confidence interval , 0.67 to 1.16 ) , and intrauterine growth retardation ( odds ratio , 1.08 ; 95 percent confidence interval , 0.83 to 1.40 ) were similar in the two groups . There was no evidence that the intervention had any significant effect on the type of delivery , the length of hospital stay , perinatal mortality , or neonatal morbidity in the first 40 days . There was no protective effect of the psychosocial-support program even among the mothers at highest risk . Interventions designed to provide psychosocial support and health education during high-risk pregnancies are unlikely to improve maternal health or to reduce the incidence of low birth weight among infants .'

In [73]:
data.reset_index(inplace = True, drop = True)

In [76]:
data.drop(columns='index', inplace = True)

In [77]:
data.head()

   abstract_id                                      abstract_text
0      1279170  We conducted this study to assess the clinical...
1      1281030  To determine whether prophylactic treatment wi...
2      1282364  After the discovery of type C hepatitis virus ...
3      1283117  Since it is not clear whether testosterone or ...
4      1283730  The aim was to study the pharmacokinetic param...